[Desktop Entry]
Type=Application
Name=Private Remote Workspace
Exec=/usr/lib/private-remote-workspace/prw-desktop
TryExec=/usr/lib/private-remote-workspace/prw-desktop
Terminal=false
StartupNotify=true
